.registration-panel{
	background-color: $midblue;
	max-width: 300px;
	padding: 35px;
	border-radius: 25px;
	margin: 50px 50px;
	float: left;
	label{
		color: $white;
		font-weight: 200;
	}

	h1{
		color: #fff;
		margin: 0 0 .5em 0;
		font-size: 1.5em;
		font-weight: normal;
		padding: 10px;
	}
}

.btn-default{
	color: $white;
	width: 100%;background-color: $orange;
	border: 0;
	padding: 7px;
	&:hover{
		background-color: #fc6220;
		color: $white;
	}
}

.existing-member-panel{
	margin: 73px 0;
	text-align: center;
	float: right;

	h1{
		color: white;
		font-size: 1.5em;
		font-weight: normal;
		margin-bottom: 1em;
	}


}

