.signin-buttons{
	list-style: none;
	padding: 0;
	margin-right: 15px;
	border-radius: 4px;
	li{
		
		a{
			
			width: 200px;
			padding: 6px 10px;
			margin-bottom: 10px;
			display: block;
			border-radius: 4px;
			color: $white;
		}
	}

	i{
		float: right;
		font-size: 20px;
	}

	.facebook{
		background: #3B5998;
	}
	.google{
		background:  #d34836;
	}
	.twitter{
		background: #4099FF;
	}
	
}