.manage-project-header{
	text-align: center;
}
.manage-project-panel{
	margin: 25px 0;


	
	ul{
		list-style: none;
		font-size: 25px;
		color: white;
		padding: 15px 0px;
		float: right;
		text-align: right;
		margin-right: 1em;
	}
	li{
		padding: 5px 0;
	}

	hr{
		margin: 20px 0;	
	}
	.budget{
		color: $green;
	}
	.budget-spent{
		color: $red;
	}
	.table{
		margin-top: 2em;
		tbody{
			tr{
				td{
					.job-title{
						font-size: .9em;
					}
				}
			}
		}
	}
}